[buildout]
develop = .
parts = test checker coverage

[test]
recipe = zc.recipe.testrunner
eggs = z3c.language.session [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/language/session

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
